---
layout: default
title: 目录
---

                <article>
                    <header class="entry-header">
                        <h3 class="entry-title">目录</h3>
                    </header>
                    <div class="entry-content">
                        <ul class="unstyled directoryList">
                            {% for post in paginator.posts %}
                            <li><span>{{ post.date | date:"%d - %m - %Y" }}</span><a title="{{ post.title }}" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a> </li>
                            {% endfor %}
                        </ul>
                        {% include pagination.md%}
                    </div>
                    <footer class="entry-meta">
                    </footer>
                </article>