{% include header.md%}
                <article>
                    <header class="entry-header">
                        <h3 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h3>
                    </header>
                    <div class="entry-content">
                        {{ content }}
                    </div>
                    <footer class="entry-meta">
                        此文位于 
                        <a href="http://pages.github.com/" title="GitHub Pages" >GitHub Pages</a>
                        on <time datetime="{{ page.date | date_to_string }}" class="entry-date">{{ page.date | date:"%Y/%m/%d" }}</time>
                         by <span class="author"><a rel="author" title="{{ site.owner.nickname }}" href="{{ site.url }}" >{{ site.owner.name }}</a></span>.
                    </footer>
                </article>
{% include pager.md%}
{% include disqus.md%}
{% include footer.md%}
<script type="text/javascript">
    $(function () {
        $(document).keydown(function(e) {
            var url = false;
            if (e.which == 37 || e.which == 74) {  // Left arrow and J
                {% if page.previous %}
                url = '{{ site.url }}{{ page.previous.url }}';
                {% endif %}
            }
            else if (e.which == 39 || e.which == 75) {  // Right arrow and K
                {% if page.next %}
                url = '{{ site.url }}{{ page.next.url }}';
                {% endif %}
            }
            if (url) {
                window.location = url;
            }
        });
    });
</script>